# Virtual environment
.venv/
venv/

# Python build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# uv and poetry lock files (optional, keep if you want reproducible builds)
uv.lock

# IDE & editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

.env
feature-based.txt
normal-struct.txt
project-tree.txt
client/organisation_postman_collection.json


.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
node_modules
apps/worker-pwa/node_modules
apps/worker-pwa/dist/
apps/worker-pwa/dev-dist/

apps/organization-portal/dashboard_new

client
server/db.sql3lite
./server/backend/db.sqlite3
vite.config.*.timestamp*
vitest.config.*.timestamp*


# Database files
*.sqlite3
*.db
*.sql3lite
db.sqlite3
server/backend/db.sqlite3